---
import { apiUrl } from "../lib/constants";
export interface Props {
  apiEndpoint: String;
}

const { apiEndpoint } = Astro.props;
---

<section x-data="{ isOpen: false }" class="mb-12">
  <div class="flex flex-col space-y-4 ml-4">
    <div class="flex gap-3 my-2">
      <button
        hx-get={`${apiUrl}/api/${apiEndpoint}?sort=players_count`}
        hx-target="#events-container"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du tri des événements';"
        class="px-2 py-1 bg-red-700 rounded hover:bg-red-800"
      >
        <p class="text-sm">Trier par joueurs</p>
      </button>
      <button
        hx-get={`${apiUrl}/api/${apiEndpoint}?sort=start_datetime`}
        hx-target="#events-container"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du tri des événements';"
        class="px-2 py-1 bg-red-700 rounded hover:bg-red-800"
      >
        <p class="text-sm">Trier par date</p>
      </button>
      <button
        hx-get={`${apiUrl}/api/${apiEndpoint}?sort=organisateur`}
        hx-target="#events-container"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du tri des événements';"
        class="px-2 py-1 bg-red-700 rounded hover:bg-red-800"
      >
        <p class="text-sm">Trier par organisateur</p>
      </button>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-full max-w-4xl overflow-x-auto rounded-lg shadow-lg m-4">
      <!-- Bande horizontale des événements -->
      <div
        id="events-container"
        class="flex space-x-4 p-4 bg-[#161215] overflow-x-scroll rounded-lg"
      >
        <!-- Les événements seront chargés dynamiquement ici via HTMX -->
        <p class="p-4 rounded-lg w-full text-center">
          Chargement des événements...
          <br/>(Peut prendre jusqu'à 50s si le serveur est en veille)
        </p>
      </div>

      <!-- Bloc pour charger les événements -->
      <div
        hx-get={`${apiUrl}/api/${apiEndpoint}`}
        hx-target="#events-container"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-on-error="this.innerHTML = 'Erreur lors du chargement des événements';"
      >
        <!-- 
    Fait une requête GET à l'URL spécifiée, 
    Spécifie où insérer la réponse (id= "events-container"),
    Déclenche la requête automatiquement lors du chargement de la page, 
    Insère le contenu récupéré à la fin de l'élément cible 
    -->
      </div>
    </div>
  </div>
  <!-- Zone de popup avec HTMX et Alpine.js -->
  <div
    x-show="isOpen"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    x-transition:opacity
    @click.self="isOpen = false"
  >
    <div
      x-show="isOpen"
      id="popup-content"
      class="rounded-lg w-full max-w-2xl"
      style="background: linear-gradient(to bottom, #1f191d, #121012);"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-200"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-90"
      hx-target="this"
      hx-swap="innerHTML"
    >
      <!-- Contenu de la popup sera chargé ici via HTMX -->
      <p>Chargement...</p>
    </div>
  </div>
</section>