---
import Header from "./header.astro";
import Footer from "./footer.astro";
import "../fonts/fonts.css";
import Lifecheck from "../components/lifecheck.astro";

// Définit une interface TypeScript pour les props.
interface Props {
  title: string; //  Spécifie que la propriété title doit être une chaîne de caractères.
}

const { title } = Astro.props; // Extrait 'title' définit lors de l'utilisation du composant.
---

<!doctype html>
<html
  x-data="{
    open: false, 
    rolee: sessionStorage.getItem('role') || 'visiteur', 
  }"
  x-init="
    console.log('Initialisation du rôle:', rolee);
    window.addEventListener('role-changed', (event) => {
      console.log('Rôle mis à jour immédiatement:', event.detail.role);
      rolee = event.detail.role;
      sessionStorage.setItem('role', event.detail.role);
    });
  "
  lang="fr"
>
  <head>
    <!-- Encodage des caractères pour le document -->
    <meta charset="UTF-8" />
    <!-- Fournit une description du site pour les moteurs de recherche -->
    <meta name="description" content="Esportify" />
    <!-- adapte la largeur de la page à celle de l'écran, force le zoom initial à 100% -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Indique le générateur du site (Astro) -->
    <meta name="generator" content={Astro.generator} />
    <!-- îcone de l'onglet du navigateur et google -->
    <link rel="icon" type="image/png" href="logoesportify.png" />
    <!-- Définit le titre de la page par une valeur à lui donner quand on utilise ce composant (Props)-->
    <title>{title}</title>

    <!-- Charge Alpine.js pour l'interactivité Client -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"
    ></script>
    <!-- Charge htmx pour l'interactivité Serveur -->
    <script
      defer
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"></script>
    <!-- Configure htmx pour autoriser les requêtes vers des domaines externes + Transition pendant les swaps  -->
    <meta
      name="htmx-config"
      content='{"selfRequestsOnly":false,"globalViewTransitions":true}'
    />

    <!-- Décodage du JWT et émission de l'événement "role-changed" -->
    <script>
      import { jwtDecode } from "jwt-decode";

      function handleRoleChange(role: string) {
        window.role = role;
        window.dispatchEvent(
          new CustomEvent("role-changed", {
            detail: { role },
          })
        );
        console.log(`Rôle mis à jour: ${role}`);
      }

      function initializeUserRole() {
        const token = sessionStorage.getItem("jwt");

        if (!token) {
          handleRoleChange("visiteur");
          return;
        }

        try {
          const decoded = jwtDecode<MyJwtPayload>(token);
          handleRoleChange(decoded.role);
        } catch (error) {
          console.error("Erreur de décodage JWT:", error);
          handleRoleChange("visiteur");
        }
      }

      // Initialise le rôle au chargement
      initializeUserRole();

      document.body.addEventListener("htmx:beforeRequest", (event: Event) => {
        const htmxEvent = event as CustomEvent;

        // Récupération de l'objet XMLHttpRequest
        const xhr = htmxEvent?.detail?.xhr;
        if (!xhr) {
          console.warn("Aucune requête XHR trouvée dans l'événement HTMX.");
          return;
        }

        // Récupération du token JWT dans sessionStorage
        const token = sessionStorage.getItem("jwt");
        if (!token) {
          console.warn("Aucun token JWT trouvé dans le stockage de session.");
          return;
        }

        // Ajout du header Authorization
        console.log("Ajout du header Authorization:", `Bearer ${token}`);
        xhr.setRequestHeader("Authorization", `Bearer ${token}`);
      });
    </script>

    <!-- Styles globaux, initialisation supplémentaire à l'initialisation faite par tailwind -->
    <style is:global>
      :root {
        --primary-color: #d00000a6;
        --secondary-color: #1f191d;
      }
      body {
        background: linear-gradient(to bottom, #251e23, #121012);
        @apply text-text font-body min-h-screen flex-1;
      }
      h1,
      h2,
      h3,
      h4 {
        text-wrap: balance;
      }
      /* personalisation de la scrollbar */
      ::-webkit-scrollbar {
        height: 1rem;
        /* height of horizontal scrollbar */
        width: 1rem;
        /* width of vertical scrollbar */
      }
      /* Track */
      ::-webkit-scrollbar-track {
        background: var(--primary-color);
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
      }
      /* Scrollbar corner */
      ::-webkit-scrollbar-corner {
        background: var(--primary-color);
      }
      /* GOOGLE CHROME */
      * {
        scrollbar-width: auto;
        scrollbar-color: var(--primary-color) var(--secondary-color);
      }
      /* Browsers without `::-webkit-scrollbar-*` support */
      @supports (not selector(::-webkit-scrollbar)) {
        * {
          scrollbar-width: auto;
          scrollbar-color: var(--primary-color) var(--secondary-color);
        }
      }

      /* API view transition CSS */
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style>
  </head>

  <body class="min-h-screen flex flex-col">
    <main class="flex-1">
      <Header />

      <slot />
    </main>
    <Footer />
  </body>
  <Lifecheck />
</html>
